<ion-item lines="none" >
  <ion-buttons>
    <ion-button size="small">
      <ion-img src="assets/img/recortes-57 (1).png"></ion-img>
    </ion-button>
    <ion-button size="small">
      <ion-img src="assets/img/recortes-58 (1).png"></ion-img>
    </ion-button>
    <ion-button size="small">
      <ion-img src="assets/img/recortes-60 (1).png"></ion-img>
    </ion-button>
    <ion-button size="small">
      <ion-img src="assets/img/recortes-59 (1).png"></ion-img>
    </ion-button>
  </ion-buttons>     
</ion-item>