// GENERAL TAGS

a{  // LINKS
  color :#e03be0;
  font-weight: bold;
  font-size: 11px;
}

hr {  // COLOR DE LAS LINEAS
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

ion-button{ // ESTILO DE LOS BOTONES
  text-transform:none !important;
  --box-shadow:none;
}

ion-text{   // COLOR DEL TEXTO
  color: #606060;
}

// CLASES

.my-header{   // ENCABEZADO

  --background: #1d1528;
  color: white;

  ion-title{  // TITULO SUPERIOR
    font-size: 12px;
    padding-top: 12px;
    margin-bottom: 0px;
  }

  ion-grid{   // SEPARAR LOS ELEMENTOS EN CELDAS
    padding-bottom: 6px;

    .my-col-menu{ // CASILLA DE ENMEDIO
      
      ion-item{ // ITEMS
        --background: transparent;
        color: white;
        font-size: 20px;

        ion-buttons{  // LOS 2 BOTONES
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.my-horizontal-hr{  // LINEA HORIZONTAL
  max-width: 75%;
  visibility: visible !important;
  margin: 10px auto 15px auto;
}

.my-title{  // TITULO EN LOS FORMULARIOS
  font-size: 18px;
  margin-bottom: 20px;
}

.my-login-card{ // FORMULARIO DE LOGIN
  
  max-width: 300px;
  margin: 30px auto 30px auto;
  padding-top: 20px;  
  box-shadow: none !important;
  
  .my-button{ // BOTON
    max-width: 80%;
    margin: 5px auto 10px auto;
    height: 40px;
  }

}

.my-input-item{ //TODOS LOS ITEMS CON TEXTO E INPUTS

  ion-text{ // texto
    margin-left: 16px;
    font-size: 14px;
  }
  ion-input{  // input
    border: #e2e2e2 solid 1px;
    border-radius: 5px;
    margin-top: 8px;
    color: #606060;
    font-size: 13px;
  }
}

.my-two-cards{  // DIV DE PAR DE FORMULARIOS INFERIORES

  max-width: 820px;
  margin: 5px auto 10px auto;
  
  // ALINEAR AL CENTRO:
  display: flex;
  justify-content: center;
  align-items: center;  
  

  .my-vertical-hr{  // LINEA VERTICAL
    border: none;
    border-right: 0.5px solid #d8d8d8;
    height: 440px;
    width: 0.5px; 
    display: inline-block;
    vertical-align: middle;
  }

  ion-card{   // LAS 2 CARTAS/FORMULARIOS

    box-shadow: none !important;
    vertical-align: middle;
    max-width: 380px;
    display: inline-block;
    padding-right: 6%;
    padding-left: 6%;

    .my-checkbox{ // ITEM DEL CHECKBOX
      
      margin-top: 0px;

      ion-checkbox{
        margin-right: 5px;
        --border-color: #d8d8d8;
      }
    }
  
    .my-card-img-right{ // IMAGEN DEL FORM DERECHO
      max-width: 45px;
    }

    .my-card-img-left{  // IMAGEN DEL FORM IZQUIERDO
      max-width: 80px;
    }

    ion-img{  // ALINEAR IMAGENES AL CENTRO
      margin: 5px auto 15px auto;
    }

    ion-button{ // BOTONES
      max-width: 72%;
      margin: 10px auto 10px auto;
    }

    .my-card-text{  // TEXTO LARGO
      font-size: 11px;
      width: 75%;
      margin: 5px auto 10px auto;
    }

    .my-terms-text{ // TEXTO DE TERMINOS & CONDICIONES
      font-size: 9px;
      margin-bottom: 0px;
      a{
        font-size: 9px;
      }
    }
  
  }
  
}

.my-scrollbar{  // SCROLLBAR

  float: right;
  top: 7px;
  right: 20px;
  position:fixed;
  display: block;
  z-index: 100;

  ion-img{  // IMAGEN
    width: 70px;    
    margin: 0px auto 0px auto;
    display: block;
  }

  .scrollbar{ // DIV DEL SCROLLBAR
    margin: 0 auto 25px auto;
    height: 280px;
    width: 8.5px;
    background: #F5F5F5;
    overflow-y: scroll;
    display: block;

    .force-overflow{
      min-height: 450px;
    }
  }

  .scrollbar::-webkit-scrollbar-track{  // PISTA
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar{  // BARRA
    width: 8px;
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar-thumb{ // MINIATURA
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5015c2;
  }

  p{  //TEXTO
    color: #606060;
    transform: rotate(-90deg);
    display: block;
    margin: 50px auto 45px auto;
  }  
    
  ion-icon{ // ICONOS
    display: block;
    margin: 0px auto 0px auto;
  }
  
}

.my-menu-header{  // HEADER DE MENU
  --background: #1d1528;
  color: white;
}