// GENERAL TAGS

a{
  color :#e03be0;
  font-weight: bold;
  font-size: 11px;
}

hr {
  //border: 1px solid red !important;
  background-color: #d8d8d8;
  max-width: 75%;
  visibility: visible !important;
  margin: 10px auto 15px auto;
}

ion-button{
  text-transform:none !important;
  --box-shadow:none;
}

ion-text{
  color: #606060;
}

// CLASES

.my-header{ 

  --background: #1d1528;
  color: white;

  ion-title{
    font-size: 12px;
    padding-top: 12px;
    margin-bottom: 0px;
  }

  ion-grid{
    padding-bottom: 8px;

    .my-col-menu{
      
      ion-item{
        --background: transparent;
        color: white;
        font-size: 20px;

        ion-buttons{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

  }
}

.my-title{
  font-size: 18px;
  margin-bottom: 20px;
}

.my-login-card{
  
  max-width: 300px;
  margin: 30px auto 30px auto;
  padding-top: 20px;  
  box-shadow: none !important;// IMPORTANT....

  
  .my-button{
    max-width: 80%;
    margin: 5px auto 10px auto;
    height: 40px;
  }

}

.my-input-item{
  ion-text{
    margin-left: 16px;
    font-size: 14px;
  }
  ion-input{
    border: #e2e2e2 solid 1px;
    border-radius: 5px;
    margin-top: 8px;
    color: #606060;
    font-size: 13px;
  }
}


.my-two-cards{

  max-width: 800px;
  margin: 5px auto 10px auto;
  background-color: red;

  .my-vertical-hr{
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 500px;
    width: 1px; 
    display: inline-block;
    border-color: #d8d8d8;
    vertical-align: middle;
    
  }

  .my-left-account-card{
    margin-left: 0;
  }
  .my-right-account-card{
    margin-right: 0;
  }

  .my-left-account-card, .my-right-account-card{

    vertical-align: middle;
    max-width: 320px;
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;

    .my-checkbox{
      
      margin-top: 0px;

      ion-checkbox{
        margin-right: 5px;
        --border-color: #d8d8d8;
      }
    }
  
    .my-card-img-right{
      max-width: 45px;
    }

    .my-card-img-left{
      max-width: 80px;
    }

    ion-img{
      margin: 5px auto 15px auto;
    }

    ion-button{
      max-width: 72%;
      margin: 10px auto 10px auto;
    }

    .my-card-text{
      font-size: 12px;
      width: 75%;
      margin: 5px auto 10px auto;
    }

    .my-terms-text{
      font-size: 9px;
    }
  
  }
  
}



