/*#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}*/


// GENERAL TAGS

a{
  color :#e03be0;
  font-weight: bold;
  font-size: 11px;
}

hr {
  //border: 1px solid red !important;
  background-color: #d8d8d8;
  max-width: 75%;
  visibility: visible !important;
  margin: 10px auto 15px auto;
}

ion-button{
  text-transform:none !important;
  --box-shadow:none;
}

ion-text{
  color: #606060;
}

// CLASES

.my-header{ 

  --background: #1d1528;
  color: white;

  ion-title{
    font-size: 12px;
    padding-top: 12px;
    margin-bottom: 0px;
  }

  ion-grid{
    padding-bottom: 10px;

    .my-col-logo{
      ion-img{
        margin-left: 20px;
        max-width: 190px;
      }
    }

    .my-col-menu{
      
      ion-item{
        --background: transparent;
        color: white;
        font-size: 20px;

        ion-buttons{
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .my-col-social{

      ion-item{
        --background: transparent;
        color: white;
        
        ion-buttons{
          margin-right: 26px;
          margin-left: auto;

          ion-button{
            ion-img{
            max-width: 16px;
            }
          }
        }
      }
    }
  }
}

.my-title{
  font-size: 18px;
  margin-bottom: 20px;
}

.my-login-card{
  
  max-width: 300px;
  margin: 30px auto 30px auto;
  padding-top: 20px;  
  box-shadow: none !important;// IMPORTANT....

  

  .my-input-item{
    ion-text{
      margin-left: 16px;
      font-size: 14px;
    }
    ion-input{
      border: #e2e2e2 solid 1px;
      border-radius: 5px;
      margin-top: 8px;
    }
  }

  .my-button{
    max-width: 80%;
    margin: 5px auto 10px auto;
  }

}




.my-account-card{

  ion-img{
    max-width: 100px;
  }


}



